<html>
  <head>
    <meta charset='utf-8' />
    <style type='text/css'>
      {{cssCode}}
    </style>
  </head>

  <body>
    <p>{{firstName}} {{lastName}}</p>

    {{#each list}}
      <p>{{this}}</p>
    {{/each}}
  </body>

</html>